[api-docs] Rework OAuth2 documentation (#6356)

A new commit was made into the api-docs repo: https://github.com/discord/discord-api-docs/commit/2a0d1c929f3bd2ec5b4ac6be727e26e634a5ed5f
- Clarified that `Get Current User Guilds` does not need an access token if it's called for a bot
- Updated the `Example Authorization Information` to comply with the rest of the docs (pomelo),
- Documented access token revocation according to the [RFC 7009 Section 2.1](https://datatracker.ietf.org/doc/html/rfc7009#section-2.1), [RFC 6749 Section 2.3](https://datatracker.ietf.org/doc/html/rfc6749#section-2.3) and discords actual implementation with an example
- Changed examples to use `auth=(CLIENT_ID, CLIENT_SECRET)`
- Removed unused var

Co-authored-by: shay <swdewael@gmail.com>
Co-authored-by: splatter <67709748+splatterxl@users.noreply.github.com>
Co-authored-by: Zoddo <github-public-contact@zoddo.fr>
Co-authored-by: Justin Beckwith <justin.beckwith@gmail.com>

This is a bot created issue.

This got already addressed by #3150 